@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  /* background-color: #1B998B; */
  background-color: #FCEEF1;
  /* color: #FCF5C7; */
  color: black;
  font-family: "Short Stack", cursive !important;
  font-weight: 400;
  font-style: normal;

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* .homepage-styling {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

/* .text-box-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
} */

.homepage-styling {
  background-image: url(../public/images/edited-cloud-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.public {
  height: 100%;
}

.page-contents {
  overflow: scroll;
  overflow-x: hidden;
}

.project-styling {
  width: 100%!;
  /* margin-bottom: 10px; */
}

ul.bulleted-list {
  list-style-type: circle;
  list-style-position: inside;
}